
@import "../scss/config/default/bootstrap.scss";
@import "../scss/config/default/app.scss";

body {
  * {
    outline: none;
  }
  background-color: #f8f8f8 !important;
}
.ant-table-thead > tr > th{
  font-weight: bold !important;
}
